@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');
body{
    background-image:url(/assets/top-view-delicious-food-table\ 1.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
a{
    font-weight: 110;
    color: #ffffff;
    text-decoration: none;
}
.header-nav{
    list-style-type: none;
    font-family: Tekko;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 3rem;
}
.navbar{
    gap: 2rem;
    display: flex;
    flex-direction: row;
}
.logo{
    width: 150px;
}
.navend{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}
main{
    padding: 2rem 5rem;
    width: 630px;
    height: 488px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.texto-principal{
    font-weight: 300;
    font-size: 100px;
    font-family: Inter;
    letter-spacing: 3px;
    color: #ccc;
}
.local{
    color: #ccc;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.local-escolha{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    border: 1px solid;
    border-radius: 25px;
    padding: 5px;
    background-color: rgb(60, 179, 113);
}
.local-procurar{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    border: 1px solid;
    border-radius: 25px;
    padding: 5px;
}
.search-icon{
    background-color: rgba(255, 175, 31, 1);
    border-radius: 25px;
}
.avaliacoes{
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid;
    border-radius: 25px;
    padding: 2px;
}
.Comidas{
    margin-left: 200px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    position: absolute;
    color: rgb(255,99,71);
    font-size: 100px;
}
.produtos{
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    width: 95vh;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px;
    border-radius: 30px;
}
.produto-1{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.descricao-1{
    color: rgb(255,99,71);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.preco-comida{
    font-family: inter;
    font-size: 25px;
    font-weight: 500;
    color:  rgb(60, 179, 113);
}
.button-comida{
    
    border-radius: 5px;
    width: 5rem;
    height: 2.5rem;
    background-color: aquamarine;
}
.button-comida:hover{
    cursor: pointer;
    background-color: green;
    width: 6rem;
    height: 3rem;
    transition: 0.5s;
}
.bebidas-img{
    width: 139px;
    height: 139px;
    border-radius: 50%;
    object-fit: cover;
}
.rodape{
    padding: 3rem auto;
    background-color: black;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    font-size: 50px;
    color: #ccc;
    border-radius: 25px;
}
.aval-roodape{
    color:  rgb(255,99,71) ;
}